.bili-wrapper
  margin 0 auto
  width 1160px
  .l-con
    float left
    width 900px
  .r-con
    width 260px
    float right
  @media screen and (max-width: 1400px)
    width:980px
    .l-con
      width 720px

.bili-footer .footer-cnt
  width 980px
  margin 0 auto
  @media screen and (min-width: 1400px)
    width 1160px


.primary-menu
  @media screen and (min-width: 1400px)
    width 1160px !important
    .nav-menu>li
        margin-right 11px !important
        &.side-nav
          margin 0 6px !important
        &.home
          margin-right 18px !important
