.bili-wrapper
  margin 0 auto
  width 1160px
  @media screen and (max-width: 1400px)
      width:980px

.primary-menu
  @media screen and (min-width: 1400px)
    width 1160px !important
    .nav-menu>li
        margin-right 11px !important
        &.side-nav
          margin 0 6px !important
        &.home
          margin-right 18px !important

// .primary-menu .nav-menu .sub-nav {
//     display: none;
//     position: absolute;
//     left: 0;
//     overflow: hidden;
//     top: 44px;
//     background: #fff;
//     border: 1px solid\9;
//     border-top: 0;
//     -webkit-box-shadow: rgba(0,0,0,.16) 0 2px 4px;
//     box-shadow: 0 2px 4px rgba(0,0,0,.16);
//     border-radius: 0 0 4px 4px;
//     z-index: 2;
// }
// .primary-menu .nav-menu>li:hover .sub-nav {
//     display: block;
// }
